.clockpagecontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(30deg, rgba(46,64,87,.7), #2E4057);
}

.clocks-container {
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 300px;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 16px;
}


.clock {
  border: 16px solid #F1DABF;
  background-color: rgba(218,65,103,1);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: relative;
  transition: 1s linear;
}
.aiguille {
  height: 8px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
}

#aiguille-seconds {
  background-color: #F1DABF;
  width: 120px;

}
#aiguille-minutes {
  background-color: #083D77;
  width: 120px;
}
#aiguille-hours {
  background-color: #F4D35E;
  width: 96px;
}

#junction {
  width: 12px;
  height: 12px;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  top: 49.5%;
  right: 47.5%;
  z-index: 20;
  transform-origin: 50% 50% 0;
}


