<div class='parallax'>
</div>
<div class="app-wrapper">
  <div class="app">
    <div class="header-container">
      <div>
        <%= image_tag('soup.png', size:"80") %>
      </div>
      <div style="width: 16px;"></div>
      <div class="title-container">
        <div class="title">
          <h1>App Soup!</h1>
        </div>
      </div>
    </div>

    <div class="separator-large"></div>
    <div class="separator-large"></div>

    <p>Welcome to Nicolas Fraisse's app soup. Here you will find an archive of web-apps, easter eggs, and back-end and front-end projects made by Nicolas Fraisse, followed by the souce code. <br> Jump to: Javascript | Python | Ruby On Rails</p>

    <div class="separator-large"></div>



    <div class="app-card"></div>



    <h2>~ JavaScript 30 ~</h2>
    <p>30 days of simpla Vanilla JavaScript ES6. 1 Project per day. Goal: Develop and maintain JS Fundamental skills</p>

    <%= link_to("1 - Drum set", js_1_path) %>
    <br>
    <%= link_to("2 - Simple clock", js_2_path) %>
    <%= link_to("notes", notes_path) %>
    <div class="separator-large"></div>








    <h2>~ Webapps ~</h2>
    <a href="https://rentmylife-lmssr.herokuapp.com/" target="_blank">Rent My Life</a>
    <a href="http://bandwizard.co" target="_blank">Band Wizard</a>

    <br>
    <a href="https://www.linkedin.com/in/nicolasfraisse/" target="_blank">LinkedIn</a>
    <a href="https://github.com/nicofraisse" target="_blank">GitHub</a>

  </div>
</div>

