<p>List of links to personal projects</p>




<h2>Javascript apps</h2>
<%= link_to("Javascript 30", js_path) %>
<%= link_to("notes", notes_path) %>
<h2>Webapps</h2>
<a href="https://rentmylife-lmssr.herokuapp.com/" target="_blank">Rent My Life</a>
<a href="http://bandwizard.co" target="_blank">Band Wizard</a>




<a href="https://www.linkedin.com/in/nicolasfraisse/" target="_blank">LinkedIn</a>
<a href="https://github.com/nicofraisse" target="_blank">GitHub</a>

