<h1>Pages#home</h1>
<p>This is a list of links to personal projects</p>
<p>SHORT DESCRIPTION i make digital products idea: add button "get more personal" <-> "get less personal/get more professional" showing/showing off everything not directly career/dev-related; "RESUME" becomes "*other catchy word*"?</p>



<h2>Javascript apps</h2>
<%= link_to("Javascript 30", js_path) %>
<h2>Webapps</h2>
<a href="https://rentmylife-lmssr.herokuapp.com/" target="_blank">Rent My Life</a>
<a href="http://bandwizard.co" target="_blank">Band Wizard</a>


<h2>Music</h2>

<h2>Photography</h2>


<h2>Art</h2>

<h2>Top 5s</h2>
<p>Top 5 drummers</p>

<a href="https://www.linkedin.com/in/nicolasfraisse/" target="_blank">LinkedIn</a>
<a href="https://github.com/nicofraisse" target="_blank">GitHub</a>

