<div class="clockpagecontainer">
  <div class="clocks-container">
    <div class="clock">
      <div class="aiguille" id="aiguille-seconds"></div>
      <div class="aiguille" id="aiguille-minutes"></div>
      <div class="aiguille" id="aiguille-hours"></div>
    </div>

    <div class="time">
    </div>

  </div>
</div>

<script>
  const updateClock = () => {
    const now = new Date();
    const seconds = now.getSeconds();
    const minutes = now.getMinutes();
    const hours = now.getHours();
    const aiguilleSeconds = document.getElementById("aiguille-seconds");
    const aiguilleMinutes = document.getElementById("aiguille-minutes");
    const aiguilleHours = document.getElementById("aiguille-hours");
    aiguilleSeconds.style.transform = `rotate(${seconds*6+90}deg)`;
    aiguilleMinutes.style.transform = `rotate(${minutes*6+90}deg)`;
    aiguilleHours.style.transform = `rotate(${(hours*360)/12-270}deg)`;

    const timeStamp = document.querySelector(".time")
    timeStamp.innerHTML = now;

  };

  setInterval(updateClock, 1000);
</script>
